.v-container>div{
    flex:1
}

.v-right{
    gap: 0.5rem;
}

.accordion{
    margin-top: 2rem;
    border: none;
}

.accordionItem{
    background: white;
    border: 0.8px solid rgba(128,128,128,0.143);
}

.image-container img {
    overflow: hidden;
    border-radius: 15rem 15rem 0 0; /* Creates an oval shape */
    border: 8px solid rgba(128, 128, 128, 0.5); /* Gray color with 50% opacity */
    margin-left: 5rem; /* Adjust as needed */
    width: 100%;
    max-width: 450px;
    height: auto; /* Allows height to adjust and maintain oval shape */
}


   


